.idea
.env
node_modules/
dist/

.run
venv
.venv
.coverahe
pip-log.txt
__pycache__
*.sqlite
static
.vscode
media/

.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server/db.sqlite3
